---
//import FeatureLayout from './FeatureLayout.astro';
//import TimerIcon from '../../assets/timer.svg';
//import SadIcon from '../../assets/sad.svg';
//import WinkIcon from '../../assets/wink.svg';

//import features from "../../assets/features.json";
import {Markdown} from "astro/components";
const {flip = false} = Astro.props;
---

<main class="container marketing">
      
      <Markdown >
        <slot />
      </Markdown>

</main>