<div class="col d-flex align-items-start shadow-sm">
    <div class="icon-square bg-light text-dark me-3">
    </div>
    <div>
        <h2><b style="color: #A93226;">RChain</b> Wallet</h2>
        <p class="project-text">Community funded RChain wallet development. Locally stored web interface for interaction with RChain platform.</p>
        Donate REV
        <p class="project-text" style="color: #A93226;">1111prE6yrVtv3fTDf7nYhcArxwYaxYBMuucTzrWWWYtix7ohUgTu</p>
        <a class="btn btn-primary btn-margin" href="https://www.rchainwallet.com" target="_blank" rel="noreferrer">View Project</a>
    </div>
</div>