<div class="col d-flex align-items-start shadow-sm">
    <div class="icon-square bg-light text-dark me-3">
    </div>
    <div>
        <h2><b style="color: #A93226;">RChain</b> Governance</h2>
        <p class="project-text">Goal: 
        Radical decentralization with trust from the top down and bottom up
        to make good decisions. <a href="https://docs.google.com/document/d/14JJPWtrFxkxzHa1NAmwzhTmeQO1vJtKDOJgBB_MPyfY/edit#">See document.</a></p>
        Donate REV
        <p class="project-text" style="color: #A93226;">11112iVtJJmo7x6t4DRdkfUfoy7wT8zkSsvYQMsMbCjaBmRUh4vNFh</p>
        <a class="btn btn-primary btn-margin" href="https://rchain-community.github.io/rgov/" target="_blank" rel="noreferrer">View Project</a>
    </div>
</div>