<div class="col d-flex align-items-start shadow-sm">
    <div class="icon-square bg-light text-dark me-3">
    </div>
    <div>
        <h2><b style="color: #A93226;">Rholang</b> bootcamp</h2>
        <p>"Rholang is simple but not easy." Crash courses and comprehensive program for developers of RChain dapps.</p>
        <a class="btn btn-primary btn-margin">Upcoming</a>
    </div>
</div>